#####################
# Emacs
#####################

# Pkgs
.emacs.d/elpa
.emacs.d/pkgs

# Semanticdb

semanticdb/

# Misc
.org-id-locations
bookmarks
*~
recentf

# Additional private configs
.emacs.d/cedet-projects.el
.emacs.d/ede-projects.el
.emacs.d/custom-init.el

